.client-img {
  width: 4em;
  margin: 3em auto;
}
.client-img img {
  border-radius: 50%;
  width: 100%;
}
.client-response {
  max-width: 80%;
  margin: 2em auto;
  color: rgba(0,0,0,0.6);
}
.client-name{
  font-family: var(--body-head-font);
}
.client-occupation{
  margin-top: 8px;
  font-size: small;
  color: rgba(0,0,0,0.6);
}
.client-response,
.client-name,
.client-occupation {
  text-align: center;
}
