@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --fs-logo: 1.5rem;
  --fs-menu: 0.9rem;
  --fs-text-head: 2rem;
  --fs-img-text-head: 1.6rem;
  --line-height-text: 1.5rem;
  --body-head-font: "Fraunces", serif;
}
* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  /* font-family: 'Fraunces', serif; */
  margin: 0;
  padding: 0;
}
body {
  /* background-color: var(--footer); */
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 8%;
  background: #3ebfff;
}
nav {
  background-color: var(--White);
  width: 90%;
  /* margin: auto 0; */
  position: absolute;
  text-align: left;
  top: 130%;
  left: 5%;
  display: none;
}
.active {
  display: block;
}
nav:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--White);
  border-top: 10px solid transparent;
  border-bottom: 10px solid var(--White);
  right: 0px;
  top: -20px;
}
nav ul {
  list-style: none;
  margin: 1em 0;
}
nav a {
  text-decoration: none;
  font-size: var(--fs-menu);
  color: rgba(0, 0, 0, 0.5);
}
nav li:hover {
  background: var(--Yellow);
  text-transform: uppercase;
}
nav li {
  margin: 0.2em 18%;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}
.logo {
  position: relative;
  top: 15%;
  left: 5%;
  color: var(--White);
  font-size: var(--fs-logo);
}
.hamburger {
  position: absolute;
  top: 33%;
  right: 5%;
  width: 1rem;
  cursor: pointer;
}
.content {
  background: url("./assets/images/desktop/image-header.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-body {
  text-align: center;
}
.content-head {
  font-family: var(--body-head-font);
  color: var(--White);
  font-size: 3.5rem;
}
.arrow-image {
  display: flex;
  justify-content: center;
}
.testimonials-head {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--body-head-font);
  letter-spacing: 0.3em;
  margin: 3em 0 0 0;
}
.image-grid {
  margin-top: 2em;
  width: 100%;
  height: 100vw;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.image-grid img {
  width: 100%;
  height: 100%;
}
footer {
  color: #2c7566;
  background: var(--footer);
}
.footer-logo {
  padding-top: 1em;
  font-size: var(--fs-logo);
  text-align: center;
  font-weight: bold;
}
.footer-links {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
}
.footer-links a {
  text-decoration: none;
  color: #2c7566;
}
.footer-social {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
.footer-social img {
  margin: 0 0.5em;
}
img {
  display: block;
}
@media (min-width: 768px) {
  :root {
    --fs-logo: 1.7rem;
    --fs-menu: 1rem;
  }
  br {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 1fr) 1fr;
  }
  .logo {
    grid-column: 2 / span 1;
  }
  nav {
    all: unset;
    grid-column: 3 / span 1;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    margin: 0;
    padding: 0;
  }
  nav li:hover {
    background-color: var(--White);
  }

  nav a {
    margin: 1rem;
  }
  .hamburger {
    display: none;
  }
  /* grid body */
  .body-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }
  .transform {
    grid-area: a;
  }
  .testimonials {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
  }
  .image-grid{
    display: flex;
    height: auto;
  }
  .footer-links{
    justify-content: center;
  }
  .footer-links a{
    margin: 0 1em;
  }
}
